/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
}

.profile-header {
    position: relative;
    width: 100%;
    background-color: #8b0000
}

.cover-photo img {
    width: 100%;
    height: 200%;
    object-fit: cover;
}

.cover-container {
    position: relative;
    width: 100%;
    height: 250px;
    background-color: #333;
}

.cover-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-photo-container {
    position: absolute;
    bottom: -50px;
    left: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #8b0000;
}


.profile-info {
   display: flex;
   align-items: center;
   padding: 10px;
   background-color: #8b0000;
   margin-top: 60px; 

}

.profile-info h1{
    color: #fefefe;
   }
.profile-info-amigos {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #fefefe;
    background-color: #8b0000;
}

.profile-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    border: 4px solid #18191a;
    overflow: hidden; 
}

.profile-avatar img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}


.profile-details h1 {
    margin: 0;
    font-size: 24px;
    color: #fff;
}

.profile-details p {
    margin: 5px 0;
    color: #ffe6e6;
}

.profile-actions button {
    margin-left: auto;
    padding: 8px 16px;
    background-color: #e63946;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-left: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.profile-actions button:hover {
    background-color: #8b0000;
}

.profile-nav ul {
    display: flex;
    justify-content: center;
    background-color: #b22234;
    padding: 10px 0;
    list-style: none;
    margin: 0;
}

.profile-nav ul li {
    margin: 0 15px;
}

.profile-nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.profile-nav ul li a:hover {
    color: #ff6f61;
}

.main-content {
    display: flex;
    padding: 20px;
}

.profile-sidebar {
    width: 30%;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    margin-right: 20px;
}

.profile-sidebar h3 {
    margin-top: 0;
}

.profile-sidebar p {
    margin: 8px 0;
    color: #333;
}

.profile-posts {
    width: 70%;
}

.create-post {
    background-color: #b22234;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
}

.create-post textarea {
    width: 97%;
    background-color: #f2f2f2;
    border: none;
    border-radius: 8px;
    color: #333;
    padding: 10px;
    resize: none;
    margin-bottom: 10px;
}

.create-post button {
    background-color: #e63946;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.create-post button:hover {
    background-color: #8b0000;
}

.create-post input#file-upload {
    display: none;
}
.custom-file-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e63946;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

.custom-file-label:hover {
    background-color: #8b0000;
}

.post {
    background-color: #b22234;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    color: #fff;
}

.post h4 {
    margin: 0;
    color: #fff;
}
.post img {
    width: 97%;
    border: none;
    border-radius: 8px;
    color: #333;
    resize: none;
    margin-bottom: 10px;
    display: block;       
    margin-left: auto;
    margin-right: auto;
}

.post-date {
    color: #fff;
    text-align:  right;
    margin: 16px 10px;
}


.reactions button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-right: 5px;
    font-size: 1em;
    color: #fff;
    transition: color 0.3s ease;
}

.reactions button:hover {
    color: #ff6f61;
}

.comment {
    background-color: #ffe6e6;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
}

.comment p {
    color: #333;
    font-size: 14px;
    
}

.comment .comment-date {
    color: #777;
    font-size: 12px;
    margin-top: 5px;
}

.comment-date {
    font-size: 0.8em;
    color: #777;
   
}

/* Estilos base de la cabecera */
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b22234;
    padding: 10px 20px;
    color: #fff;
}

.header-left, .header-center, .header-right {
    display: flex;
    align-items: center;
}

.search-input {
    width: 200px;
    padding: 5px;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: #eae1e1;
    color: #333;
    margin-left: 15px;
}

.nav-icon {
    color: #fff;
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
    margin: 0 5px;
    position: relative;
}

.badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 12px;
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff; 
    text-decoration: none;
    font-family: Arial, sans-serif;
}

.logo-text span {
    color: #42b72a;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    .search-input {
        width: 150px;
    }
    .header-center {
        display: none;
    }
}

@media (max-width: 480px) {
    .search-input {
        display: none;
    }
    .top-header {
        flex-direction: column;
        align-items: flex-start;
    }
}
